.main-nav{
    background-color: $color-bg-primary;
    color: $color-text-light;
    height: 60px;
    display: flex;
    align-items: center;
}

.main-nav .nav-links{
    padding: 2rem;
    
    .main-nav .nav-item {
        text-decoration: none;
        color: white;

        &.active{
                color: cornflowerblue;
                font-size: bold;          
         }

         &:hover{
            font-size:1.2rem;
            color: darkred;
         }
    }
}
