.card{
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 16px;
    transition:  .6s ease-in-out;
    border: 1px solid rgb(212, 178, 215);
    background-color: beige;
    &:hover{
        box-shadow: 3px 3px 50px rgba(13, 13, 14, 0.253);
    }


     &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 100%;
        background-color: $color-bg-primary;

     }
    &__img{
        height: 90%;
        

    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: end;

    }
    &__title{
        font-weight: 500;
        font-size: 1.0rem;
        text-overflow: ellipsis;
        height: 20%;
        border-bottom: 2px solid rgb(4, 4, 3);

    }
    &__description{
        padding: 1.5rem 0 2rem;
        display: flex;
        height: 60%;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        overflow: auto;
    }
    &__price{
        margin: 10px;
        text-align: center;
        color: $color-bg-primary !important;

    }
    &__footer{
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: space-between;
        padding: 1rem;

    }
    &__date{
        color: $color-bg-secondary;

    }

    &__btn{

        font-size: 12px;
        padding: .5rem .5rem;
        border-radius: 13px;
        background-color: $color-bg-secondary;
        color: beige;
        transition: .5s ease-in-out;

        &:hover{
            color: $color-bg-secondary;
            background-color: beige;
            font-weight: 600;
            font-size: 13px;
        }
    }
 }





    


